.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Arial', sans-serif;
  background-color: hsl(0, 8%, 3%);
  color:white;
  margin: 0;
  padding: 0;
}
/* App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #A100FF;
}

input {
  padding: 10px;
  width: 300px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #A100FF;
  border: none;
  color: white;
  border-radius: 4px;
}

button:hover {
  background-color: #8c00cc;
}

a {
  text-decoration: none;
  color: #00FF00;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}